<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  - Online Shopping Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <style>
        #navbar {
            background-color: black;
            height: 11%;
            box-shadow: 5px 5px 20px black;
            padding: .3rem 3rem;
        }

        #navbarContent a {
            color: white;
            padding-top: 22px;
            padding-bottom: 22px;
            padding-right: 22px;
            text-decoration: none;
            border-bottom: 3px solid transparent;
        }

            #navbarContent a:hover {
                color: red;
                border-bottom-color: red;
            }

        #navbarContent button {
            color: white;
            border-radius: 10px;
        }
    </style>
    <nav class="navbar fixed-top" id="navbar">
        <div class="container-fluid" id="navbarContent">
            <ul class="nav">
                <li class="nav-link"><i class="fas fa-home" style="color:white"></i> @Html.ActionLink("Home", "Index", "Display")</li>
                <li class="nav-link"> @Html.ActionLink("Categories", "DisplayIndex", "Display")</li>
                @*<li class="nav-link"><i class="fa fa-fw fa-envelope" style="color:white"></i> @Html.ActionLink("Contact", "Contact", "Display")</li>
                <li class="nav-link">@Html.ActionLink("About", "About", "Display")</li>*@
                <li class="nav-link"><i class="fas fa-shopping-cart" style="color:white"></i> @Html.ActionLink("Cart", "CartDetails", "Cart")<span style="background-color:orangered;color:white" class="badge badge-pill">@ViewBag.Count</span></li>
                <li class="nav-link">@Html.ActionLink("Orders", "Orders", "Shipping")</li>
            </ul>
            <ul class="nav" style="padding-left:35rem">
                <li><button class="btn btn-success" onclick="location.href = '@Url.Action("Login", "CustomerLogin")'"><i class="fas fa-sign-in-alt"></i>Login </button></li>
            </ul>
            <ul class="nav">
                <li><button class="btn  btn-success" onclick="location.href = '@Url.Action("Logout", "CustomerLogin")'"><i class="fas fa-sign-out-alt"></i>Logout</button></li>
            </ul>
        </div>
    </nav>

    <div style="background-color:lightgray">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year   Online Shopping Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/fontawesome/fontawesome.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
